.waveform-synthesizer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  
  >div {
    display: flex;
    background-color: white;
    margin: 1px 0;
  }

  .waveform-editor {
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .frequency-graph {
    flex: 1;
  }

  .midi-keyboard {
    height: 100px;
  }
}
